
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
body{ 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(228,242,254);
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    
}
.color-container{
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-grow:1;
    flex-basis: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0 10px 20px rgba(100,87,220,0.08);
    transition: transform 0.3s ease;

}
.color-container:active{
    transform: scale(0.95);
}
.color-container:hover .color{
    filter: brightness(106%);
}
.color{
    width: 100%;
    height: 130px;
    border-radius: 5px 5px 0 0;
}
.hex-value{
    padding: 10px;
}
.refresh{
    width: 100%;
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh-btn{
    width: 180px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: #795cee;
    box-shadow: 0 10px 20px rgba(100,87,220,0.08);
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 5px;

}
@media screen and (max-width: 1024px){
    .color-container{
        flex-basis: 160px;
        margin: 15px;
    }
}
@media screen and (max-width: 800px){
    .color-container{
        flex-basis: 120px;
        margin: 15px;
    }
}
@media screen and (max-width: 640px){
    .color-container{
        flex-basis: 100px;
        margin: 10px;
    }
    .color{
        height: 80px;
    }
}

@media screen and (max-width: 480px){
    .color-container{
        flex-basis: 120px;
        margin: 20px;
    }
    .color{
        height: 80px;
    }
}

